@import "../../variables.scss";
@import "../../basis/_mixins.scss";

.nav {
  display: flex;
  transition: ease-in-out height .4s;

  &-list {

    &_header {
      display: flex;
      align-items: center;
    }

    &__item {}

    &__link {
      font: 14px/1.5 $castomFont2;
      text-transform: uppercase;
      padding: 0 15px;
      color: $colorTheme2;
      transition: ease-in-out color #{$transitionTime}s;

      &:hover,
      &:active {
        color: $colorTheme3;
      }

      &:hover,
      &:focus,
      &:active {
        outline: none;
        text-decoration: none;
      }
    }
  }

  @include breakpoint ($tabletM) {

    &-list {

      &__link {
        font-size: 12PX;
        padding: 0 10PX;
      }
    }
  }
  @include breakpoint ($mobile) {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorTheme3;
    z-index: 1;
    min-height: 100vh;

    &.nav-mobi {

      &_is-opened {
        animation: zoomIn 0.5s ease-in-out 1;
        animation-fill-mode: forwards;

      }

      &_close {
        animation: zoomOut 0.9s ease-in-out 1;
        animation-fill-mode: forwards;
      }
    }

    &-list {

      &_header {
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        .nav-list__link {
          font-size: 18px;
        }
      }
    }
  }
}

@keyframes zoomIn {
  0% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
  10%{
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
    z-index: 1;
    display: block;
  }

  100% {
    opacity: 1;
    display: block;
  }
}

@keyframes zoomOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  90% {
    opacity: 0;
  }

  100% {
    display: none;
    opacity: 0;
    z-index: -1;
  }
}